:root {
  /** COLORS **/
  --colorMain: #2db0ee;
  --colorSupport: #e05060;
  --colorCloud: #f0f2f4;
  --colorGray: #3e464f;
  --colorText: #545f6c;

  --colorWhite: #ffffff;
  --colorBlack: #212126;

  /** FONTS **/
  --fontMain: "Roboto", sans-serif;
}
