.themeHomeNewsletter {
  margin-top: -5%;
  position: relative;
  z-index: 2;
  &__contents {
    width: 100%;
    background: var(--colorWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    @include breakpoint(mobile) {
      flex-wrap: wrap;
      padding: 40px 5%;
    }
  }
  &__text {
    width: 40%;
    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: var(--colorGray);
    }
  }
  &__form {
    width: 50%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
